<div class="ui container">

<div class="ui raised padded text container segment">
  <% @posts.each do |post| %>
     <h2 class="ui header"><%= link_to post.title, post %></h2>
     <p><%= post.content %></p>

     <a class="ui teal label">
       <%= post.user.email  %>
       <div class="detail"><%= time_ago_in_words(post.created_at) %></div>
     </a>

     <%= link_to 'Show', post %>
     <% if post.user == current_user %>
       <td><%= link_to 'Edit', edit_post_path(post) %></td>
       <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     <% end %>
  <% end %>
</div>

<br>

</div>
