<!DOCTYPE html>
<html>
<head>
  <title>PenguinTrade</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="ui top large menu">
    <% if user_signed_in? -%>
    <a class="active item" href="/">Home</a>
    <a class="item" href="/"><i class="list layout icon"></i>Browse</a>
    <a class="item" href="/posts/new"><i class="add circle icon"></i>Add Trade</a>
    <a class="item" href="/"><i class="random icon"></i>My Trades</a>
    <a class="item"><div class="ui small input">
    <%= form_tag posts_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search], class: 'search_box', :placeholder => "Search trades..." %>
      </p>
    <% end %>
    </div></a>
    <% else -%>
    <a class="active item" href="/">Home</a>
    <a class="item" href="/"><i class="list layout icon"></i>Browse</a>
    <a class="item" href="/"><i class="random icon"></i>Trades</a>
    <a class="item"><div class="ui small input">
    <%= form_tag posts_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search], class: 'search_box', :placeholder => "Search trades..." %>
      </p>
    <% end %>
    </div></a>
    <% end -%>

    <div class="right menu">
    <% if user_signed_in? -%>
      <div class="ui simple dropdown item"><%= link_to current_user.email, edit_user_registration_path %> <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="/posts/new"><i class="add circle icon"></i>Add Trade</a>
          <a class="item"><i class="smile icon"></i>Donate</a>
          <div class="ui divider"></div>
          <a class="item"><i class="user icon"></i>My Profile</a>
          <a class="item" href='/users/edit'><i class="settings icon"></i>Settings</a>
          <a class="item"><i class="sign out icon"></i></i>Log Out</a>
        </div>
      </div>
      <div class="item">
          <%= link_to destroy_user_session_path, :method => :delete do %>
          <i class="sign out icon large"></i>
          <% end %>
      </div>
      <% else -%>
      <div class="item">
          <%= link_to new_user_registration_path do %>
          <div class="ui inverted orange button">Sign Up</div>
          <% end %>
      </div>
      <div class="item">
        <%= link_to new_user_session_path do %>
        <div class="ui inverted green button">Log In</div>
        <% end %>
      </div>
      <% end -%>

    </div>
  </div>

  <% if notice %>
    <div id="notice_wrapper">
      <p class="notice"><%= notice %></p>
    </div>
  <% end %>

<%= yield %>

</body>
</html>

<script>

$(document).ready(function(){
  setTimeout(function(){
    $('#notice_wrapper').fadeOut("slow", function(){
      $(this).remove();
    })
  }, 2000);
});

</script>
